:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-family: 'Comfortaa';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

header,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-family: 'Comfortaa';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

h1,
h3,
h4,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul {
    margin-bottom: 0
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:not([href]) {
    color: inherit;
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

svg {
    overflow: hidden;
    vertical-align: middle
}

button {
    border-radius: 0
}

button,
input {
    margin: 0;
    font-family: 'Comfortaa';
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

[type=button],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

h1,
h3,
h4,
h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h1 {
    font-size: 2.5rem
}

h3 {
    font-size: 1.75rem
}

h4 {
    font-size: 1.5rem
}

h6 {
    font-size: 1rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media(min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-6,
.col-lg-12,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-9,
.col-md-12,
.col-md-3,
.col-md-4,
.col-md-6,
.col-sm-12,
.col-sm-6,
.col-xl-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

@media(min-width:576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width:768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width:992px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width:1200px) {
    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-group {
    margin-bottom: 1rem
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: .5rem
}

.dropdown {
    position: relative
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

.d-none {
    display: none !important
}

@media(min-width:576px) {
    .d-sm-block {
        display: block !important
    }
}

@media(min-width:768px) {
    .d-md-none {
        display: none !important
    }
}

@media(min-width:992px) {
    .d-lg-none {
        display: none !important
    }

    .d-lg-block {
        display: block !important
    }
}

@media(min-width:1200px) {
    .d-xl-none {
        display: none !important
    }

    .d-xl-block {
        display: block !important
    }
}

.m-auto {
    margin: auto !important
}

.text-justify {
    text-align: justify !important
}

.text-center {
    text-align: center !important
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-angle-up:before {
    content: "\f106"
}

.fa-star:before {
    content: "\f005"
}

.fa-star-half-alt:before {
    content: "\f5c0"
}

.fa {
    font-family: 'Comfortaa';
}

@font-face {
    font-family: 'Comfortaa';
    ;
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/fa-regular-400.eot);
    src: url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-regular-400.woff2) format("woff2"), url(../webfonts/fa-regular-400.woff) format("woff"), url(../webfonts/fa-regular-400.ttf) format("truetype"), url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")
}

@font-face {
    font-display: swap;
    font-family: 'Comfortaa';
    ;
    font-style: normal;
    font-weight: 900;
    src: url(../webfonts/fa-solid-900.eot);
    src: url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../webfonts/fa-solid-900.woff2) format("woff2"), url(../webfonts/fa-solid-900.woff) format("woff"), url(../webfonts/fa-solid-900.ttf) format("truetype"), url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")
}

.fa {
    font-weight: 900
}

@import "https://fonts.googleapis.com/css?family=Poppins:100,200,400,500,600,700,800|Nunito:300,400,600,700,800&display=swap";
@charset "UTF-8";

html {
    overflow-x: hidden
}

body .body-inner {
    padding: 0;
    margin: 0
}

@media(max-width:992px) {
    .body-inner {
        width: 100%;
        margin: 0
    }
}

section {
    padding: 80px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: #fff
}

@media(max-width:768px) {
    section {
        padding: 40px 0
    }
}

@media(max-width:992px) {
    .container {
        padding: 0 30px
    }
}

#page-content:not(.no-sidebar) {
    padding: 40px 0
}

#page-content:not(.no-sidebar).sidebar-left>.container>.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

#page-content:not(.no-sidebar).sidebar-right>.container>.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

#page-content:not(.no-sidebar).sidebar-right>.container>.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.content {
    padding-right: 25px;
    margin-bottom: 26px
}

.sidebar {
    padding-left: 25px
}

.sidebar-left .content {
    padding-left: 25px;
    padding-right: 15px
}

.sidebar-left .sidebar {
    padding-right: 25px;
    padding-left: 15px
}

@media(max-width:991px) {

    .content,
    .sidebar {
        width: 100% !important;
        padding-left: 15px;
        padding-right: 15px
    }

    .sidebar-right .sidebar,
    .sidebar-right .content {
        padding-right: 15px;
        padding-left: 15px
    }

    .sidebar-right .sidebar:before,
    .sidebar:before {
        right: 0;
        border-right-width: 0;
        border-left-width: 0;
        left: 0
    }
}

@media(max-width:991px) {
    #page-content {
        padding: 20px 0
    }
}

#topbar {
    position: relative;
    z-index: 200;
    background-color: #fff
}

#topbar .top-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    float: left
}

#topbar .top-menu>li {
    display: inline-block;
    height: 40px;
    line-height: 40px
}

#topbar .top-menu>li>a {
    color: #484848;
    display: block;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    margin-right: 16px
}

#topbar {
    border-bottom: 1px solid #eee
}

#header {
    position: relative;
    width: 100%;
    z-index: 199 !important;
    height: 80px;
    line-height: 80px
}

#header .container {
    position: relative
}

#header .header-inner {
    height: 80px;
    background-color: #fff;
    left: 0;
    right: 0
}

#header .header-inner #logo {
    float: left;
    font-size: 28px;
    position: relative;
    z-index: 1;
    height: 80px
}

#header .header-inner #logo a>img {
    vertical-align: inherit;
    height: 80px;
    width: auto
}

#header .header-inner #logo a>img,
#header .header-inner #logo a [class*=logo-] {
    display: none
}

#header .header-inner #logo a .logo-default {
    display: block
}

#header .header-inner #logo a {
    font-family: 'Comfortaa';
    font-size: 40px;
    color: #1f1f1f;
    font-weight: 800;
    letter-spacing: 1.5px
}

@media(max-width:992px) {
    #header .header-inner {
        height: auto
    }

    #header #logo {
        position: absolute !important;
        width: 80%;
        text-align: center;
        margin: 0 !important;
        float: none;
        height: 80px;
        left: 10%;
        right: 0;
        padding: 0 !important
    }

    #header #logo>a {
        display: inline-block
    }

    #header #logo>a img {
        max-height: 80px;
        padding-bottom: 6px
    }
}

#mainMenu {
    padding: 0
}

#mainMenu>.container {
    padding: 0 !important
}

#mainMenu [class*=col-lg-] {
    line-height: 24px !important
}

#mainMenu nav {
    float: right
}

#mainMenu nav>ul {
    list-style: none;
    padding: 0;
    margin: 0
}

#mainMenu nav>ul>li {
    float: left;
    border: 0;
    margin-left: 6px;
    position: relative
}

#mainMenu nav>ul>li>a {
    position: relative;
    font-family: 'Comfortaa';
    padding: 10px 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .6px;
    color: #000;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: normal
}

#mainMenu nav>ul>li.dropdown:before {
    content: "\e930";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: 'Comfortaa';
    opacity: .6;
    position: absolute;
    right: 16px;
    color: #262626;
    font-size: 16px;
    display: none
}

#mainMenu nav>ul>li .dropdown-menu {
    background-position: right bottom;
    background-repeat: no-repeat;
    min-width: 230px;
    top: auto;
    background-color: #fff;
    border: 0;
    color: #000;
    border-style: solid;
    border-color: #eee;
    border-width: 1px !important;
    left: auto;
    margin: 0;
    margin-top: -6px;
    border-radius: 4px;
    -webkit-box-shadow: 0 33px 32px rgba(0, 0, 0, .1);
    box-shadow: 0 33px 32px rgba(0, 0, 0, .1);
    padding: 10px;
    display: none;
    position: absolute
}

#mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    font-style: normal;
    color: #444;
    font-family: 'Comfortaa';
    padding: 12px 20px 12px 18px;
    display: block
}

#mainMenu nav>ul>li.mega-menu-item {
    position: static
}

#mainMenu nav>ul>li.mega-menu-item>.dropdown-menu {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 1140px
}

#mainMenu nav>ul>li.mega-menu-item .mega-menu-content {
    padding: 20px
}

#mainMenu nav>ul>li.mega-menu-item .mega-menu-content .mega-menu-title {
    font-family: 'Comfortaa';
    color: #000;
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 12px
}

#mainMenu nav>ul>li.mega-menu-item .mega-menu-content li~.mega-menu-title {
    margin-top: 12px
}

#mainMenu nav>ul>li.mega-menu-item .mega-menu-content [class*=col-]>ul>li>a {
    padding: 10px 0;
    font-size: 13px;
    font-weight: 600
}

#mainMenu nav>ul>li.mega-menu-item .mega-menu-content [class*=col-]>ul>li:first-child>a {
    padding-top: 0
}

#mainMenu nav>ul>li.mega-menu-item .mega-menu-content [class*=col-]>ul>li:last-child>a {
    padding-bottom: 0
}

#mainMenu nav>ul>li:last-child {
    margin-right: 0
}

#mainMenu nav>ul li ul {
    list-style: none;
    padding: 0
}

#mainMenu.menu-vertical:not(.menu-overlay) {
    max-height: 3000px;
    clear: both;
    display: block;
    width: 100%;
    opacity: 1;
    overflow: hidden
}

#mainMenu.menu-vertical:not(.menu-overlay)>.container {
    text-align: left !important;
    width: 100%;
    max-width: 100%
}

#mainMenu.menu-vertical:not(.menu-overlay) nav {
    line-height: 40px;
    float: none;
    width: 100%;
    padding-bottom: 20px;
    opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important
}

#mainMenu.menu-vertical:not(.menu-overlay) nav>ul {
    float: none;
    width: 100%
}

#mainMenu.menu-vertical:not(.menu-overlay) nav>ul>li {
    padding: 0;
    margin: 0;
    clear: both;
    float: none;
    display: block;
    border: 0
}

#mainMenu.menu-vertical:not(.menu-overlay) nav>ul>li>a {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    border: 0;
    border-radius: 0
}

#mainMenu.menu-vertical:not(.menu-overlay) nav>ul>li>a:after {
    display: none
}

#mainMenu-trigger {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    height: 80px;
    z-index: 1;
    float: right
}

@media(max-width:991px) {
    #mainMenu-trigger {
        position: relative;
        opacity: 1;
        visibility: visible
    }

    #mainMenu:not(.menu-overlay) {
        max-height: 0;
        clear: both;
        display: block;
        width: 100%;
        opacity: 1;
        overflow: hidden
    }

    #mainMenu:not(.menu-overlay)>.container {
        text-align: left !important;
        width: 100%;
        max-width: 100%
    }

    #mainMenu:not(.menu-overlay) nav {
        line-height: 40px;
        float: none;
        width: 100%;
        padding-bottom: 20px;
        opacity: 0;
        -webkit-transform: translateY(-18px);
        transform: translateY(-18px)
    }

    #mainMenu:not(.menu-overlay) nav>ul {
        float: none;
        width: 100%
    }

    #mainMenu:not(.menu-overlay) nav>ul>li {
        padding: 0;
        margin: 0;
        clear: both;
        float: none;
        display: block;
        border: 0
    }

    #mainMenu:not(.menu-overlay) nav>ul>li>a {
        display: block;
        padding: 12px 0;
        font-size: 14px;
        border: 0;
        border-radius: 0
    }

    #mainMenu:not(.menu-overlay) nav>ul>li>a:after {
        display: none
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.dropdown:before {
        right: 14px;
        display: block
    }

    #mainMenu:not(.menu-overlay) nav>ul>li .dropdown-menu {
        background-image: none !important;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        position: static;
        clear: both;
        float: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0 !important;
        min-width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0 16px
    }

    #mainMenu:not(.menu-overlay) nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a {
        line-height: 16px;
        font-size: 14px;
        padding: 12px 0;
        display: block
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.mega-menu-item {
        position: relative
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.mega-menu-item .mega-menu-content {
        padding: 0 0 0 15px
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.mega-menu-item .mega-menu-content .mega-menu-title {
        padding-top: 12px;
        padding-bottom: 12px
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.mega-menu-item .mega-menu-content [class*=col-]>ul>li>a {
        padding: 10px 0
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.mega-menu-item .mega-menu-content [class*=col-]>ul>li:first-child>a {
        padding-top: 12px
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.mega-menu-item .mega-menu-content [class*=col-]>ul>li:last-child>a {
        padding-bottom: 12px
    }

    #mainMenu:not(.menu-overlay) nav>ul li>.dropdown-menu {
        border: 0;
        background-color: transparent;
        display: block
    }

    #mainMenu:not(.menu-overlay) nav>ul [class*=col-lg] {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        padding: 0;
        margin: 0
    }
}

#search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background: #fff;
    line-height: normal;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0
}

#search .search-form {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, 1);
    transform: scale3d(.8, .8, 1);
    margin: 80px 0
}

#search .search-form .form-control {
    border-width: 0 0 2px;
    border-radius: 0;
    font-size: 34px;
    padding: 10px 0;
    border-color: #cecece;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: transparent
}

#search .search-form .form-control:-webkit-input-placeholder {
    color: #cecece
}

#search .search-form .form-control:-moz-placeholder {
    color: #cecece
}

#search .search-form .form-control:-ms-input-placeholder {
    color: #cecece
}

#search .btn-search-close {
    font-size: 2em;
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    padding: 12px;
    line-height: 12px;
    background-color: #2250fc;
    border: 0;
    border-radius: 5px;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, 1);
    transform: scale3d(.8, .8, 1)
}

@media(max-width:991px) {
    #search .search-form {
        margin: 40px
    }

    #search .search-form .form-control {
        font-size: 24px;
        margin-bottom: 8px
    }

    #search .btn-search-close {
        font-size: 1em;
        padding: 8px;
        line-height: 8px
    }
}

*,
h1,
h3,
h4,
h6,
a {
    margin: 0;
    padding: 0;
    text-decoration: none
}

header,
nav,
section {
    display: block
}

html {
    font-size: 88%
}

@media all and (max-width:768px) {
    html {
        font-size: 81.25%
    }
}

body {
    font-size: 1em;
    line-height: 1.65714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Comfortaa';
    color: #484848
}

h1,
h3,
h4,
h6 {
    font-family: 'Comfortaa';
    color: #1f1f1f;
    margin: 0;
    letter-spacing: .5px
}

h1 {
    font-size: 3.14285714em;
    line-height: 1.31818182em
}

h3 {
    font-size: 1.78571429em;
    line-height: 1.5em;
    font-weight: 500
}

h4 {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    font-weight: 600
}

h4:not(:last-child) {
    margin-bottom: 8px
}

h6 {
    font-size: .85714286em;
    line-height: 2.16666667em;
    font-weight: 500
}

h6:not(:last-child) {
    margin-bottom: 6px
}

@media all and (max-width:767px) {
    h1 {
        font-size: 2.35714286em;
        line-height: 1.36363636em
    }

    h3 {
        font-size: 1.35714286em;
        line-height: 1.85714286em
    }
}

p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1.7;
    letter-spacing: 0;
    color: #777;
    font-family: 'Comfortaa';
}

a:not(.btn):not(.badge):not(.btn):not([href]):not([tabindex]) {
    color: #484848
}

.product {
    margin-bottom: 40px;
    position: relative;
    display: block
}

.product .product-image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden
}

.product .product-image img {
    display: block;
    width: 100%;
    height: 100%
}

.product .product-description {
    padding: 8px 0 10px
}

.product .product-title {
    max-width: 80%
}

.product .product-title h3 {
    font-size: 18px;
    margin-bottom: 0
}

.product .product-price {
    width: 26%;
    float: right;
    margin-bottom: 0;
    margin-top: -26px;
    text-align: right
}

.product .product-price ins {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    text-decoration: none
}

.product .product-rate {
    height: 23px;
    float: left;
    color: #ffc300
}

.product .product-reviews {
    color: #73848e;
    float: right;
    font-size: 13px
}

.product-size {
    display: block;
    list-style: outside none none;
    margin: 0 20px 15px 0;
    overflow: hidden;
    padding-left: 0
}

.text-center {
    text-align: center
}

.background-grey {
    background-color: #f7f9fb !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-b-10 {
    margin-bottom: 10px !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-t-20 {
    margin-top: 20px !important
}

.m-t-30 {
    margin-top: 30px !important
}

.p-10 {
    padding: 10px !important
}

.p-b-20 {
    padding-bottom: 20px !important
}

.widget {
    margin-bottom: 30px;
    position: relative
}

.widget .widget-title,
.widget>h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px
}

.widget:after,
.widget:before {
    clear: both;
    content: " ";
    display: table
}

.widget a {
    color: #484848
}

.sidebar .widget {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    padding-bottom: 30px
}

.sidebar .widget:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

@media(max-width:992px) {
    .widget {
        float: left;
        width: 100%
    }
}

#scrollTop {
    z-index: -1;
    opacity: 0;
    position: fixed;
    text-align: center;
    line-height: 12px !important;
    right: 26px;
    bottom: 0;
    color: #fff;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, .25);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .25) !important;
    overflow: hidden
}

#scrollTop i {
    line-height: 39px !important;
    width: 39px !important;
    height: 39px !important;
    font-size: 16px !important;
    top: 0 !important;
    left: 0 !important;
    text-align: center !important;
    position: relative;
    z-index: 10;
    background-color: transparent !important;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

#scrollTop:after,
#scrollTop:before {
    display: block;
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #2250fc;
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 100px
}

#scrollTop:before {
    background-color: rgba(255, 255, 255, .25);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    z-index: 2
}

[class^=icon] {
    display: inline-block
}

.lines-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 16px;
    background: 0 0;
    outline: none
}

.lines-button>* {
    display: block
}

.lines-button::-moz-focus-inner {
    border: 0
}

.lines {
    display: inline-block;
    height: 2px;
    width: 20px;
    border-radius: 4px;
    position: relative;
    top: -4px
}

.lines::before,
.lines::after {
    display: inline-block;
    height: 2px;
    width: 20px;
    border-radius: 4px;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%
}

.lines::before {
    top: 6px
}

.lines::after {
    top: -6px
}

.lines,
.lines:before,
.lines:after {
    background-color: #111
}

.x {
    width: auto
}

iframe {
    width: 100%
}

a:not([href]):not([tabindex]):not(.btn) {
    color: none
}

button.btn,
.btn:not(.close):not(.mfp-close) {
    font-family: 'Comfortaa';
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    text-decoration: none;
    outline: none;
    padding: 12px 18px;
    position: relative;
    text-transform: uppercase;
    background-color: #2250fc;
    border-color: #2250fc;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    margin-bottom: 6px;
    outline: none;
    line-height: 14px
}

button.btn:after,
.btn:not(.close):not(.mfp-close):after {
    content: '';
    position: absolute;
    z-index: -1
}

button.btn.btn-sm,
.btn:not(.close):not(.mfp-close).btn-sm {
    font-size: 11px;
    height: 30px;
    line-height: 28px;
    padding: 0 14px
}

button.btn.btn-rounded,
.btn:not(.close):not(.mfp-close).btn-rounded {
    border-radius: 2em !important
}

button.btn.btn-block,
.btn:not(.close):not(.mfp-close).btn-block {
    width: 100%;
    display: block
}

button.btn+.btn,
.btn:not(.close):not(.mfp-close)+.btn {
    margin-left: 4px
}

i:not(.fa):not(.fab):not(.far):not(.fas) {
    font-family: 'Comfortaa';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-search:before {
    content: "\e9cc"
}

.icon-x:before {
    content: "\ea12"
}

.seperator {
    color: #ccc;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    text-align: center;
    line-height: 1.2em
}

.seperator::before,
.seperator::after {
    border-bottom: 1px solid #eee;
    content: "";
    display: inline-block;
    height: .65em;
    margin: 0 -4px 0 -100%;
    vertical-align: top;
    width: 50%
}

.seperator::after {
    margin: 0 -100% 0 0
}

form .btn {
    padding: 12px 14px
}

input:not([type=checkbox]):not([type=radio]) {
    line-height: 18px;
    padding: 10px 16px;
    min-height: 40px;
    font-size: .9rem
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.modal-strip {
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 20px;
    position: fixed;
    width: 100%;
    display: inline-block;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    z-index: 999 !important
}

.modal-strip .btn {
    margin-bottom: 0 !important
}

#topbar .top-menu {
    float: right
}

#topbar .top-menu>li>a#btn-search {
    font-size: 14px;
    font-weight: 600
}

.st-default-search-input {
    width: 100% !important
}

#search .search-form .form-control {
    background-image: none
}

#header .header-inner {
    border-bottom: 1px solid #eee
}

#mainMenu nav>ul>li>a {
    text-transform: initial;
    font-size: 16px;
    font-weight: 500
}

#topbar .top-menu>li>a>i.icon-search {
    position: relative;
    top: 2px;
    font-weight: 700
}

#mainMenu nav>ul li ul.if_threesub_menu,
#mainMenu nav>ul li ul.if_twosub_menu {
    margin: auto
}

#mainMenu nav>ul li ul.if_twosub_menu {
    max-width: 560px
}

#mainMenu nav>ul li ul.if_threesub_menu {
    max-width: 840px
}

@media(min-width:992px) and (max-width:1199px) {
    #mainMenu nav>ul>li>a {
        padding: 10px 4px
    }
}

@media(max-width:992px) {
    #header #logo {
        text-align: left;
        left: 3%;
        width: fit-content
    }
}

@media(max-width:767px) {
    #topbar .top-menu>li.d_xs_none {
        display: none
    }

    #topbar .top-menu>li>a#btn-search {
        margin-right: 0
    }

    #topbar .top-menu>li>a {
        margin-right: 4px
    }
}

body {
    font-family: 'Comfortaa';
}

.loading {
    display: none;
    margin-left: auto;
    margin-right: auto
}

@media(min-width:768px) and (max-width:991px) {
    #topbar .top-menu>li>a {
        margin-right: 12px
    }
}

#scrollTop {
    bottom: 100px !important;
    right: 40px
}

.st-default-search-input {
    width: 100%
}

input:not([type=checkbox]):not([type=radio]) {
    font-size: 16px
}

.chat-bodyDiv input:not([type=checkbox]):not([type=radio]) {
    height: 45px
}

@media(max-width:500px) {
    .if_app_modal_btn .hover_custom {
        padding: 12px 10px;
        font-size: 10px
    }
}

@media(max-width:767px) {
    .login__submit_chat1::after {
        background: linear-gradient(135deg, #0071b2 0, #00304c 100%) !important
    }

    .scrollForm1 .login__submit_chat1 {
        border-radius: 5px !important
    }

    .chat-widget--bubble {
        bottom: 4rem !important
    }
}

.chat-bodyDiv .hover_custom {
    background: linear-gradient(135deg, #0071b2 0, #00304c 100%);
    border-color: #0071b2
}

.chat-widget {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1030
}

.chat-widget--bubble {
    padding: 0;
    display: block;
    width: 340px;
    position: absolute;
    right: 0;
    bottom: 6rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    opacity: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.chat-widget--bubble.-hide {
    opacity: 0;
    -webkit-transform: translateY(3rem) scale(0, 0) skew(0deg, 50deg);
    transform: translateY(3rem) scale(0, 0) skew(0deg, 50deg)
}

.chat-widget--bubble::after {
    content: '';
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    right: 1.5rem;
    bottom: -.7rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.chat-widget--header {
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    background: linear-gradient(135deg, rgb(0, 113, 178) 0%, rgb(0, 48, 76) 100%);
    padding: 15px 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

.chat-widget--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 50%;
    background: #0071b2;
    box-shadow: 0 0 0 -2px #000, 0 2px 4px 0 rgba(0, 0, 0, .3);
    animation: pulsee 2s infinite !important
}

.chat-widget--button::before,
.chat-widget--button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    background: #0071b259;
    animation: pulsee ease-in-out 5s infinite;
    -webkit-animation: pulsee ease-in-out 5s infinite
}

.chat-widget--button::after {
    background: #0071b259;
    animation: pulsee ease-in-out 5s infinite
}

.chat-widget--icon {
    width: 2.5rem;
    height: auto
}

.chat-widget--icon path {
    fill: #fff
}

.chat-bodyDiv {
    padding-top: 30px;
    padding-bottom: 30px
}

.chat-bodyDiv form {
    background: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

.chat-widget--header p {
    margin-bottom: 0;
    color: #fff;
    line-height: 22px
}

.chat-bodyDiv form .form-control {
    margin-bottom: 15px;
    border: 1px solid #bcbcbc !important
}

.chat-headDiv {
    position: relative
}

.head_ic {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px
}

.head_ic img {
    width: 100%
}

.head_txt {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px
}

.head_txt .head_sub {
    font-size: 28px
}

.chat-bodyDiv::-webkit-scrollbar {
    width: 6px
}

.chat-bodyDiv::-webkit-scrollbar-track {
    border-radius: 0
}

.chat-bodyDiv::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .2)
}

@media only screen and (max-width:375px) {
    .chat-widget--bubble {
        width: 280px
    }
}

@media only all and (min-height:251px) and (max-height:400px) {
    .chat-bodyDiv {
        height: 100px;
        overflow-y: auto;
        overflow-x: hidden
    }
}

@media only all and (max-height:250px) {
    .chat-bodyDiv {
        height: 10px;
        overflow-y: auto;
        overflow-x: hidden
    }
}

@media only screen and (max-width:767px) {
    .loading {
        width: auto;
        margin-left: auto;
        margin-right: auto
    }
}

.login__submit_chat::after,
.login__submit_chat2::after,
.login__submit_chat2_w::after {
    background: linear-gradient(135deg, rgb(0, 113, 178) 0%, rgb(0, 48, 76) 100%) !important
}

.scrollForm .login__submit_chat,
.scrollForm .login__submit_chat2,
.scrollForm .login__submit_chat2_w {
    border-radius: 5px !important
}

@-webkit-keyframes pulsee {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 113, 178, .32)
    }

    75% {
        -webkit-box-shadow: 0 0 0 2rem (0, 113, 178, 0)
    }

    100% {
        -webkit-box-shadow: 0 0 0 2rem transparent
    }
}

@keyframes pulsee {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 113, 178, .32);
        box-shadow: 0 0 0 0 rgba(0, 113, 178, .32)
    }

    75% {
        -moz-box-shadow: 0 0 0 2rem transparent;
        box-shadow: 0 0 0 2rem transparent
    }

    100% {
        -moz-box-shadow: 0 0 0 2rem transparent;
        box-shadow: 0 0 0 2rem transparent
    }
}

@media(max-width:480px) {
    .chat-widget--bubble .chat-widget--header {
        padding: 15px
    }
}

@media(min-width:768px) {

    .login__submit_chat2,
    .login__submit_chat2_w {
        display: none !important
    }
}

.header-extras {
    float: right;
    z-index: 199;
    position: relative;
    height: 80px
}

.header-extras>ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.header-extras>ul>li {
    float: left;
    border: 0
}

.header-extras>ul>li a,
.header-extras>ul>li i {
    color: #484848
}

.header-extras>ul>li>.p-dropdown {
    padding-left: 6px;
    padding-right: 6px
}

@media(max-width:991px) {
    .header-extras {
        float: left
    }

    .header-extras>ul .p-dropdown>a>i {
        font-size: 16px !important
    }

    .header-extras>ul .p-dropdown:first-child>a {
        padding-left: 0
    }
}

.p-dropdown {
    float: left;
    font-size: 13px;
    font-weight: 400;
    position: relative
}

.p-dropdown a:not(.btn) {
    color: #484848
}

.p-dropdown .p-dropdown-content,
.p-dropdown ul.p-dropdown-content {
    line-height: normal;
    position: absolute;
    min-width: 140px;
    z-index: 5;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    padding: 14px 20px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    top: auto;
    right: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    min-width: 180px;
    -webkit-box-shadow: 0 14px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 14px 20px rgba(0, 0, 0, .1)
}

.p-dropdown .p-dropdown-content>li,
.p-dropdown ul.p-dropdown-content>li {
    display: block
}

.p-dropdown .p-dropdown-content>li a,
.p-dropdown ul.p-dropdown-content>li a {
    line-height: 26px;
    white-space: nowrap;
    display: block;
    padding: 2px 8px
}

.header-extras .p-dropdown .p-dropdown-content,
.header-extras .p-dropdown ul.p-dropdown-content {
    right: -5px;
    margin-top: -8px
}

.header-extras .p-dropdown .p-dropdown-content:before,
.header-extras .p-dropdown ul.p-dropdown-content:before {
    display: none
}

.icon-align-justify:before {
    content: "\e906"
}

.p-dropdown:hover .title:before {
    opacity: 1;
    visibility: visible
}

.p-dropdown:hover .p-dropdown-content {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible
}

.p-dropdown .btn:before {
    top: 30px;
    right: 5px
}

.p-dropdown .btn~.dropdown-content {
    top: 42px
}

.p-dropdown ul.p-dropdown-content {
    opacity: .5;
    transition: .3s
}