#topbar .top-menu {
    float: right
}

#topbar .top-menu>li>a#btn-search {
    font-size: 14px;
    font-weight: 600
}

.st-default-search-input,
.st-ui-search-input {
    width: 100% !important
}

#search .search-form .form-control {
    background-image: none
}

body.search-open #search .search-form {
    width: 75%
}

#header .header-inner {
    border-bottom: 1px solid #eee;
    top: 20px;
}

#mainMenu nav>ul>li>a {
    text-transform: initial;
    font-size: 16px;
    font-weight: 500
}

#topbar .top-menu>li>a>i.icon-search {
    position: relative;
    top: 2px;
    font-weight: 700
}

#mainMenu nav>ul li ul.if_threesub_menu,
#mainMenu nav>ul li ul.if_threesub_menu1,
#mainMenu nav>ul li ul.if_twosub_menu {
    margin: auto
}

#mainMenu nav>ul li ul.if_twosub_menu {
    max-width: 490px
}

#mainMenu nav>ul li ul.if_threesub_menu {
    max-width: 675px
}

#mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu1 {
    max-width: 640px;
    left: auto
}

#mainMenu nav>ul li ul.if_twosub_menu1 {
    max-width: 480px;
    margin: auto;
    left: auto !important
}

#topbar .top-menu>li>a:hover {
    color: #2250fc
}

@media(max-width:992px) {
    #header #logo {
        text-align: left;
        left: 3%;
        width: fit-content
    }
}

@media(max-width:767px) {
    #topbar .top-menu>li.d_xs_none {
        display: none
    }

    #topbar .top-menu>li>a#btn-search {
        margin-right: 0
    }

    #topbar .top-menu>li>a {
        margin-right: 10px
    }
}

body {
    font-family: 'Comfortaa';
}

.loading {
    display: none;
    margin-left: auto;
    margin-right: auto
}

.contactBox input:not([type=checkbox]):not([type=radio]),
.contactBox select {
    font-size: 17px;
    padding-left: 5px
}

.contactBox {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .06);
    border-radius: 5px 30px 5px 5px;
    padding: 25px;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff)
}

.main_ban_row .bar:before,
.price_sec .bar:before {
    left: 50%
}

.main_ban_row .bar:after,
.main_ban_row .bar:before,
.price_sec .bar:after,
.price_sec .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #757575;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all
}

.contactBox .bar:after,
.contactBox .bar:before {
    background: #fff
}

.main_ban_row .bar,
.price_sec .bar {
    position: relative;
    display: block
}

.main_ban_row .inputMaterial,
.price_sec .inputMaterial {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    border-bottom: 1px solid #757575
}

.contactBox .group {
    margin-left: 0
}

.main_ban_row .group,
.price_sec .group {
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px
}

.main_ban_row label,
.price_sec label {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all
}

.main_ban_row .inputMaterial:focus~label,
.main_ban_row .inputMaterial:valid~label,
.price_sec .inputMaterial:focus~label,
.price_sec .inputMaterial:valid~label {
    top: -20px;
    font-size: 14px;
    color: #757575
}

@media(min-width:1200px) {
    .boxes-area {
        z-index: auto;
        margin-top: -150px !important;
        overflow: unset
    }
}

.contactBox p {
    color: #fff;
    font-size: 18px;
    line-height: 28px
}

.contactBox .bar,
.contactBox .inputMaterial {
    width: 100%
}

.contactBox .inputMaterial {
    border-bottom: 1px solid #fff;
    background-color: transparent
}

.contactBox input,
.contactBox input::placeholder,
.contactBox input:focus {
    color: #fff
}

.contactBox label {
    color: #fff !important
}

.login__submit {
    background-color: transparent !important;
    border-color: #fff !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.login__submit:focus,
.login__submit:hover {
    background-color: #fff !important;
    color: #000 !important
}

.main_ban_row .inputMaterial:focus {
    outline: 0
}

.main_ban_row .inputMaterial:focus~.bar:after,
.main_ban_row .inputMaterial:focus~.bar:before {
    width: 50%
}

@media(min-width:992px) {

    #service .row,
    #service .row .col-lg-4,
    #service .row .col-lg-4 a {
        display: flex
    }
}

@media(min-width:992px) {

    #service .row:nth-child(2),
    #service .row:nth-child(3) {
        margin-bottom: 40px
    }
}

.section-title {
    text-align: center
}

.accordion.accordion-flat .ac-item.ac-active .ac-title:before {
    content: " "
}

.accordion.accordion-flat .ac-item .ac-title:before {
    content: " "
}

.accordion.accordion-flat .ac-item .ac-title {
    padding: 12px 30px 12px 15px;
    font-size: 13px
}

.accordion.accordion-flat .ac-title {
    color: #fff !important;
    background: #2250fc
}

.accordion.accordion-flat .ac-item {
    padding-bottom: 0
}

.plan-header h3 {
    color: #fff
}

.card-title img {
    width: 100%
}

@media(min-width:768px) and (max-width:991px) {
    #topbar .top-menu>li>a {
        margin-right: 12px
    }
}

#home .card:hover,
.cmy_process .card:hover,
.services-area .card:hover {
    margin-top: -10px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1)
}

.cmy_process .card,
.services-area .card {
    transition: all .3s ease
}

#scrollTop {
    bottom: 100px !important;
    right: 40px
}

.banner-img {
    min-height: 650px
}

[data-bg-image]::before {
    opacity: 0 !important;
    background-color: #fff;
    transition: opacity 0s linear
}

@media(max-width:1199px) {
    .banner-img {
        height: auto
    }

    .banner-img[data-bg-image] {
        background-size: 100%;
        background-position: inherit
    }

    .contactBox {
        margin-bottom: 35px
    }

    .section-area {
        margin-top: 0
    }
}

.st-default-search-input,
.st-ui-search-input {
    width: 100%
}

@media(min-width:1200px) {
    #pricing_section .pricing-table {
        justify-content: center
    }

    .startup-content {
        min-height: 300px;
        display: flex;
        align-content: center;
        flex-wrap: wrap
    }

    .box-section {
        align-items: flex-end
    }

    .box-section .card {
        margin-bottom: 0
    }

    section#page-content.second_s_bar {
        padding-top: 80px;
        padding-bottom: 80px
    }
}

.box-section .card {
    border-radius: 5px 30px 5px 5px
}

@media(min-width:992px) and (max-width:1199px) {
    .box-section .col-lg-6 {
        display: flex;
        align-items: end
    }
}

.pricing-table {
    cursor: auto
}

@media(max-width:767px) {
    #footer .copyright-content {
        padding: 2px 0 68px
    }
}

input:not([type=checkbox]):not([type=radio]),
select {
    font-size: 16px
}

.chat-bodyDiv input:not([type=checkbox]):not([type=radio]) {
    height: 45px
}

.cmy_reg_sec h1,
.cmy_reg_sec h2,
.cmy_reg_sec h3 {
    font-weight: 400;
    color: #000
}

.cmy_reg_sec p {
    color: #000;
    font-size: 17px
}

.cmy_reg_sec a {
    color: #26b8f3
}

.cmy_reg_sec ol li,
.cmy_reg_sec ul li {
    list-style: decimal;
    font-size: 17px;
    color: #000
}

@media(max-width:500px) {
    .if_app_modal_btn .hover_custom {
        padding: 12px 10px;
        font-size: 10px
    }

    .if_app_modal_btn .col-xs-5 {
        margin-left: 15px
    }
}

@media(max-width:767px) {
    .login__submit_chat1::after {
        background: linear-gradient(135deg, #0071b2 0, #00304c 100%) !important
    }

    .scrollForm1 .login__submit_chat1 {
        border-radius: 5px !important
    }

    .chat-widget--bubble {
        bottom: 0 !important
    }

    #price .pricing-footer>a,
    .main-banner {
        display: none
    }
}

.startup-content h2 {
    font-size: 30px;
    font-weight: 300
}

.startup-content p {
    font-size: 15px
}

.pricing_section h3 span:nth-child(1) {
    text-decoration: line-through;
    font-size: inherit;
    color: #2250fc
}

.pricing_section h3 span:nth-child(2) {
    font-size: 35px;
    font-family: Caveat, cursive, Poppins, sans-serif;
    font-weight: 100;
    color: inherit
}

.copyright-content p {
    margin-top: 12px;
    text-align: justify;
    font-size: 12px
}

.chat-bodyDiv .hover_custom {
    background: linear-gradient(135deg, #0071b2 0, #00304c 100%);
    border-color: #0071b2
}

@media(min-width:768px) {

    .cmy_process .row .col-lg-6,
    .cmy_process .row .col-lg-6 .card {
        display: flex
    }

    .section-title h3 {
        font-size: 28px
    }

    .section-title {
        margin-bottom: 60px
    }
}

.cmy_reg_sec ol,
.cmy_reg_sec ul {
    padding-left: 20px
}

.pricing_section .plan-list {
    text-align: center
}

.pricing_section .row:nth-child(3) ul {
    padding-left: 25px
}

#service .card-title {
    font-size: 18px
}

#home .card {
    transition: unset
}

.form-group>label.remove_label,
.form-group .input-group label.remove_label {
    font-size: 0 !important;
    margin-bottom: 0 !important;
    height: 0 !important
}

.chat-bodyDiv form label {
    display: initial;
    margin-bottom: 0
}

.intl-tel-input .flag-dropdown {
    top: 5px
}

#country_code,
#country_code1,
#country_code2,
#country_code3,
#country_code4 {
    width: 95px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding-left: 47px !important;
    font-size: .9rem !important;
    padding-right: 5px !important
}

.form-group .input-group #cus_phone,
.scrollForm .col-md-12 .input-group #phone_chat,
.scrollForm1 .col-md-12 .input-group #phone_chat1 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

@media(max-width:767px) {
    .chat-bodyDiv {
        height: initial !important
    }

    .chat-bodyDiv input:not([type=checkbox]):not([type=radio]) {
        height: 40px;
        margin-bottom: 10
    }

    .chat-widget--header {
        padding: 10px 20px !important
    }

    .intl-tel-input .flag-dropdown .country-list {
        max-width: 315px
    }
}

.login__submit_chat2,
.login__submit_chat3,
.login__submit_chat2_w {
    display: none !important
}

@media(max-width:767px) {

    .scrollForm .login__submit_chat,
    .scrollForm .login__submit_chat2,
    .scrollForm .login__submit_chat2_w,
    .scrollForm1 .login__submit_chat1 {
        padding: 12px 18px !important;
        height: 50px !important;
        line-height: initial !important
    }

    .scrollForm .intl-tel-input .flag-dropdown {
        top: 10px
    }
}

@media(min-width:768px) {
    span.chat_cls_btn {
        display: none
    }
}

span.chat_cls_btn {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    z-index: 1030;
    padding: 5px;
    transition: .5s
}

span.chat_cls_btn:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #000
}

@media(max-width:767px) {
    .chat-widget--button {
        display: none !important
    }

    .div_order {
        display: flex;
        flex-flow: column
    }
}

#if_app_modal .container {
    padding: 0 15px
}

#if_app_modal button {
    border-radius: 0;
    padding: 15px 18px;
    font-size: 16px
}

#if_app_modal .col-sm-6:nth-child(1) {
    padding-left: 0;
    padding-right: 1px
}

#if_app_modal .col-sm-6:nth-child(2) {
    padding-left: 1px;
    padding-right: 0
}

.input-group-append {
    margin-left: 0
}

.second_s_bar .sidebar ul.list-lines li a {
    color: #007bff
}

.second_s_bar .sidebar ul.list-lines li {
    line-height: 20px;
    padding: 10px 0
}

.second_s_bar .col-lg-9 h3 {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    font-weight: 600;
    margin-bottom: 5px
}

.second_s_bar .col-lg-9 h4 {
    font-size: 1.2em;
    font-weight: 500
}

@media(max-width:991px) {
    .second_s_bar .sidebar {
        padding-left: 15px;
        margin-top: 20px
    }

    .second_s_bar .sidebar img {
        display: block;
        margin: auto
    }
}

ul.ul_f_f {
    line-height: 1.7;
    color: #777;
    font-family: 'Comfortaa';
}

.pricing-table .plan .plan-header p:nth-child(1) {
    font-size: 1.78571429em;
    line-height: 1.5em;
    font-weight: 500;
    color: #fff
}

.ul_f_f_decimal {
    list-style: decimal
}

.ul_f_f_decimal li {
    margin-bottom: 5px
}

.moretext_1,
.moretext_2 {
    display: none
}

.icon-refresh-cw:before {
    content: "\e9c4"
}

@media(min-width:992px) {
    .state_city .col-xl-9 {
        text-align: right
    }
}

#mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu2 .mega-menu-content {
    width: 150%
}

#mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu2 .mega-menu-content .row .col-lg-3:nth-child(3),
#mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu2 .mega-menu-content .row .col-lg-3:nth-child(4) {
    max-width: 18%
}

#mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu11 {
    max-width: 900px;
    left: auto
}

@media(min-width:1200px) {
    #mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu2 {
        width: 110%
    }
}

@media(min-width:992px) {
    .header-extras>ul .p-dropdown>a>i {
        font-size: 25px;
        position: relative;
        top: 5px
    }
}

@media(max-width:991px) {
    .header-extras {
        float: right;
        margin-left: 15px
    }

    #header .header-extras>ul .p-dropdown>a>i {
        font-size: 25px !important;
        position: relative;
        top: 3px
    }
}

@media(min-width:992px) and (max-width:1199px) {
    #mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu2 {
        width: 120%
    }
}

#mainMenu nav>ul>li .dropdown-menu>li>a:focus,
#mainMenu nav>ul>li .dropdown-menu>li>a:hover,
#mainMenu nav>ul>li .dropdown-menu>li>a:active,
#mainMenu nav>ul>li .dropdown-menu>li>span:focus,
#mainMenu nav>ul>li .dropdown-menu>li>span:hover,
#mainMenu nav>ul>li .dropdown-menu>li>span:active,
#mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a:focus,
#mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a:hover,
#mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a:active {
    background-color: transparent;
    color: #2250fc;
    cursor: pointer
}

.modal-open {
    overflow: hidden
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px)
}

@media(prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden
}

.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem)
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable::before {
    content: none
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px)
}

.modal-footer>* {
    margin: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media(min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem)
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered::before {
        height: calc(100vh - 3.5rem)
    }

    .modal-sm {
        max-width: 300px
    }
}

@media(min-width:992px) {

    .modal-lg,
    .modal-xl {
        max-width: 800px
    }
}

@media(min-width:1200px) {
    .modal-xl {
        max-width: 1140px
    }
}

.ban_breadcrumb ol {
    font-size: 14px;
    font-weight: 600
}

.ban_breadcrumb .breadcrumb-item+.breadcrumb-item {
    padding-left: 0
}

.ban_breadcrumb .breadcrumb-item.active {
    color: #2250fc
}

.ban_table.table td,
.ban_table.table th {
    border-top: 0;
    padding-bottom: 0
}

.ban_table span {
    float: right
}

.ban_table th {
    font-weight: 400 !important
}

.delivery {
    color: #007185
}

.save_ex_tbl span {
    color: #b12704 !important
}

.product.c_product .product-rate {
    margin-top: 5px;
    color: #73848e
}

.product.c_product .product-rate span:nth-child(1) {
    color: #fff;
    background-color: #2aa644;
    padding: 2px 5px
}

.product.c_product .product-price ins {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: line-through
}

.product.c_product .product-price {
    width: auto;
    float: none;
    margin-top: auto;
    text-align: unset
}

.product.c_product .excl_gst {
    color: #b12704 !important;
    font-size: 18px;
    font-weight: 600
}

.product.c_product .abt_item {
    font-size: 16px;
    color: #1f1f1f
}

.product.c_product .list-icon li {
    margin-bottom: 5px
}

@media(min-width:1200px) {
    .ban_table th {
        width: 26%
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .ban_table th {
        width: 32%
    }
}

@media(max-width:767px) {
    .product.c_product .product-size {
        margin: 0 20px 10px 0 !important
    }
}

@font-face {
    font-display: swap;
    font-family: amazon ember;
    src: url(../amazon/pDxWAF1pBB0dzGB.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: amazon ember;
    font-weight: 500;
    src: url(../amazon/VjTR4RqBzY0mUYx.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: amazon ember;
    font-weight: 700;
    src: url(../amazon/KFPk-9IF4FqAqY-.woff2) format("woff2")
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/"
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none
}

.breadcrumb-item.active {
    color: #6c757d
}

.breadcrumb {
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 10px;
    display: block
}

.breadcrumb ul,
.breadcrumb ol {
    display: inline;
    margin: 0;
    padding: 0
}

.breadcrumb ul .breadcrumb-item,
.breadcrumb ul li,
.breadcrumb ol .breadcrumb-item,
.breadcrumb ol li {
    display: inline;
    position: relative;
    opacity: .8
}

.breadcrumb ul .breadcrumb-item+li:before,
.breadcrumb ul li+li:before,
.breadcrumb ol .breadcrumb-item+li:before,
.breadcrumb ol li+li:before {
    content: "\e930";
    font-family: 'Comfortaa';
    margin: 0;
    background-color: transparent
}

.breadcrumb ul .breadcrumb-item a,
.breadcrumb ul li a,
.breadcrumb ol .breadcrumb-item a,
.breadcrumb ol li a {
    color: #484848
}

.breadcrumb ul .breadcrumb-item:hover,
.breadcrumb ul .breadcrumb-item.active,
.breadcrumb ul .breadcrumb-item:last-child,
.breadcrumb ul li:hover,
.breadcrumb ul li.active,
.breadcrumb ul li:last-child,
.breadcrumb ol .breadcrumb-item:hover,
.breadcrumb ol .breadcrumb-item.active,
.breadcrumb ol .breadcrumb-item:last-child,
.breadcrumb ol li:hover,
.breadcrumb ol li.active,
.breadcrumb ol li:last-child {
    opacity: 1
}

.font-weight-700 {
    font-weight: 700 !important
}

.terms_a_con {
    font-size: 16px;
    color: #2250fc !important
}

.modal .modal-header .close {
    padding: .3rem;
    font-weight: 600;
    font-size: 25px;
    border: 0;
    background-color: initial;
    z-index: 1
}

.modal .modal-header {
    border-bottom: 0 solid #dee2e6;
    padding: 7px
}

#modal1 p {
    font-size: 1em;
    line-height: 1.65714286em;
    color: #484848;
    font-weight: 400
}

.ban_table.table td,
.ban_table.table th,
.pdt_name,
.product.c_product .product-rate span,
.ban_breadcrumb ol,
.sel_package,
.product.c_product .product-size,
.pdt_description,
.save_ex_tbl.table td,
.product.c_product .ul_f_f,
.product.c_product .abt_item,
.terms_a_con_div,
.modal p {
    font-family: 'Comfortaa';
}

.com_by_row {
    cursor: pointer
}

.com_by_row:hover {
    color: #2250fc
}

.product-size li.best_seller {
    float: initial;
    margin-top: 8px
}

li.best_seller span {
    color: #fff;
    background-color: #2aa644;
    padding: 2px 5px;
    margin-left: 5px
}

#topbar .col-md-3,
#topbar .col-md-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.gsc-control-cse {
    padding: 0 !important
}

form.gsc-search-box,
table.gsc-search-box {
    margin-bottom: 0 !important
}

table.gsc-search-box {
    height: 40px
}

.gsc-search-button-v2 {
    cursor: pointer
}

#header {
    height: 45px !important;
    line-height: 45px !important
}

#header .header-inner,
#header #header-wrap,
#mainMenu-trigger {
    height: 45px !important;
    position: fixed;
    top: 89px;
    width: 100%;
    z-index: 9999;
    /* You can adjust this value as needed */
}

.gsib_a {
    padding: 0 9px !important
}

/* #topbar img {
    width: 88px;
    margin-top: 8px;
    margin-bottom: 8px
} */

#topbar .top-menu>li>a,
#topbar .header-extras>ul>li a {
    font-size: 14px !important;
    font-weight: 600 !important
}

#mainMenu {
    float: left !important
}

#mainMenu nav>ul>li.mega-menu-item>.dropdown-menu.if_threesub_menu11 {
    left: 0 !important
}

#mainMenu nav>ul>li:nth-child(1) {
    margin-left: 0
}

#mainMenu nav>ul>li:nth-child(1)>a {
    padding-left: 0
}

#topbar .header-extras {
    height: 55px
}

#topbar .header-extras>ul>li>.p-dropdown {
    padding-right: 16px
}

#topbar .p-dropdown .p-dropdown-content,
#topbar .p-dropdown ul.p-dropdown-content {
    padding: 5px 10px;
    min-width: 125px
}

@media(min-width:768px) {

    .cmy_tm_sec #myTab2,
    .mca_data_sec ul.nav-tabs,
    .gst_data,
    .income_data {
        margin: auto;
        display: flex;
        width: fit-content;
        margin-bottom: 30px
    }

    .gsib_a input:not([type=checkbox]):not([type=radio]),
    select {
        min-height: 25px !important
    }

    #topbar .col-md-3:nth-child(1) {
        max-width: 100px
    }

    #topbar .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    #topbar .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    #header .header-inner #logo a .logo-default {
        display: none !important
    }

    .gsc-search-button-v2 {
        padding: 2px 27px !important
    }

    #topbar .col-md-3:nth-child(3) {
        max-width: 287px
    }

    .gsc-control-cse {
        margin-top: 8px
    }

    #topbar .top-menu>li {
        line-height: 55px !important
    }
}

@media(min-width:1200px) {
    #topbar .col-md-9 {
        max-width: 100%;
        flex: 0 0 87%
    }

    #topbar .col-md-6:nth-child(2) {
        flex: 0 0 66%;
        max-width: 66%
    }
}

@media(max-width:767px) {
    table.gsc-search-box td.gsc-input {
        padding-right: 0 !important
    }

    #header #logo>a img {
        padding-bottom: 0 !important
    }

    #topbar .col-md-3:nth-child(1) {
        margin: auto
    }
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

@media(max-width:767px) {
    .col-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    #topbar .col-md-3:nth-child(1) {
        padding-left: 0
    }

    .sidebar-right .sidebar {
        margin-top: 15px
    }
}

#mainMenu nav>ul>li.hover-active>a,
#mainMenu nav>ul>li.hover-active>span,
#mainMenu nav>ul>li.current>a,
#mainMenu nav>ul>li.current>span,
#mainMenu nav>ul>li:hover>a,
#mainMenu nav>ul>li:hover>span,
#mainMenu nav>ul>li:focus>a,
#mainMenu nav>ul>li:focus>span {
    color: #2250fc
}

@media(min-width:992px) {
    .cus_rev_sec .col-lg-3 {
        display: flex
    }

    .mega_menu_title {
        min-height: 26px
    }

    .check_cmy_tm {
        margin-top: 30px
    }

    .if_threesub_menu_l,
    .if_twosub_menu_tm {
        margin-left: initial !important
    }

    #mainMenu nav>ul li ul.if_threesub_menu_it {
        max-width: 500px;
        margin: auto
    }
}

@media(max-width:991px) {
    .zero_late_fee {
        margin-top: 20px;
        text-align: center
    }

    .trigger_faq #rel_service {
        text-align: center
    }

    .rel_pro_sec .col-lg-2 {
        text-align: center
    }

    .rel_pro_sec .col-lg-2:not(:last-child) {
        margin-bottom: 20px
    }

    .doc_req_sec .row .col-lg-6:nth-child(2) {
        margin-bottom: 30px
    }

    #mainMenu:not(.menu-overlay) nav>ul>li.mega-menu-item .mega-menu-content .mega-menu-title.mega_menu_title {
        padding-top: 0;
        padding-bottom: 0
    }

    .check_cmy_tm {
        padding-left: 0
    }
}

@media(max-width:767px) {
    .compari_table ul.list-icon li:before {
        position: relative;
        padding-right: 10px
    }

    #page-content.sidebar-right {
        padding: 15px 0 40px
    }

    .cmy_tm_sec #myTab2,
    .mca_data_sec .mca_data {
        text-align: center;
        display: block
    }

    .top_menu_div {
        display: none
    }

    #header {
        height: 0 !important
    }

    #header .header-inner {
        height: 0 !important;
        border-bottom: 0 solid #eee
    }

    #mainMenu-trigger {
        position: absolute;
        right: 20px;
        top: -42px
    }

    #topbar .col-md-6:nth-child(2) {
        position: relative;
        right: 20px;
        margin-top: 3px;
        padding-left: 0
    }

    #topbar img {
        max-width: 65px
    }

    #topbar {
        z-index: auto
    }

    .gsc-input-box {
        padding-top: 2px !important;
        padding-bottom: 2px !important
    }

    .gsc-search-button-v2 {
        padding: 3.5px 15px !important;
        margin-left: 0 !important
    }

    .gsib_a input:not([type=checkbox]):not([type=radio]),
    select {
        min-height: 24px !important
    }
}

.faq-div-hide,
.div_hide_service {
    display: none
}

.product.product_faq .product-title1 h5 {
    line-height: 20px
}

.fa-dot-circle-o:before {
    content: "\f192"
}

.carousel.carousel_bank .flickity-viewport {
    min-height: 335px
}

.state_city .list-icon a {
    color: #007bff
}

.text-body {
    color: #212529 !important
}

.product.product_faq {
    border-bottom: 1px solid #eee;
    margin-bottom: 12px
}

@media(min-width:1200px) {
    .cus_rev_sec .card {
        min-width: 253px
    }

    .lazy-yt-wrapper {
        min-height: 350px;
        max-width: 622px
    }
}

.lazy-yt-wrapper {
    margin: 0 auto;
    padding: 0
}

.lazy-youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer
}

.lazy-youtube img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 1
}

.lazy-youtube .lazy-play-btn {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    z-index: 1;
    opacity: .8;
    border-radius: 6px
}

.lazy-youtube .lazy-play-btn:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #fff
}

.lazy-youtube img,
.lazy-youtube .lazy-play-btn {
    cursor: pointer
}

.lazy-youtube img,
.lazy-youtube iframe,
.lazy-youtube .lazy-play-btn,
.lazy-youtube .lazy-play-btn:before {
    position: absolute
}

.lazy-youtube .lazy-play-btn,
.lazy-youtube .lazy-play-btn:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}

.lazy-youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}

.cmy_tm_sec .tabs .nav-tabs .nav-link,
.mca_data_sec .tabs .nav-tabs .nav-link,
.income_tax_comp_sec .tabs .nav-tabs .nav-link,
.gst_comp_sec .tabs .nav-tabs .nav-link {
    font-size: 18px
}

.cmy_tm_sec .tabs .nav-tabs .nav-link.active,
.mca_data_sec .tabs .nav-tabs .nav-link.active,
.income_tax_comp_sec .tabs .nav-tabs .nav-link.active,
.gst_comp_sec .tabs .nav-tabs .nav-link.active {
    font-weight: 600
}

.cmy_tm_sec #index_comp_search_text,
.cmy_tm_sec #index_tm_search_text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.cmy_tm_sec #index_go_btn,
.cmy_tm_sec #index_tm_go_btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-height: 40px
}

.cmy_tm_sec .form-group {
    display: flex
}

.cmy_tm_sec h4 {
    font-weight: 400
}

.cmy_tm_sec small {
    font-size: 15px
}

.doc-div-hide {
    display: none
}

ul.rel_doc_req li span.badge {
    margin-left: 10px
}

.compari_table table th,
.mca_data_sec table th,
.why_if_sec table th,
.income_tax_comp_sec table th,
.gst_comp_sec table th {
    font-size: 15px;
    font-weight: 600
}

.compari_table table th,
.compari_table table tr,
.compari_table table td,
.mca_data_sec table th,
.mca_data_sec table tr,
.mca_data_sec table td,
.why_if_sec table th,
.why_if_sec table tr,
.why_if_sec table td,
.income_tax_comp_sec table th,
.income_tax_comp_sec table tr,
.income_tax_comp_sec table td,
.gst_comp_sec table th,
.gst_comp_sec table tr,
.gst_comp_sec table td {
    border: 1px solid #000
}

.compari_table table ul li a {
    color: #2250fc
}

.rel_pro_sec .grid-item {
    cursor: auto;
    padding-left: 0
}

.rel_pro_sec .product .product-image2>a {
    display: contents
}

.rel_pro_sec .product .product-title h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px
}

.rel_pro_sec .row {
    margin-left: 0
}

.rel_pro_sec .product .product-title {
    max-width: initial
}

.rel_pro_sec .product .product-description {
    padding: 10px 0 0
}

.rel_pro_sec .product .product-title h4 a b,
.rel_pro_sec .product .product-price2 ins {
    color: #444
}

.rel_pro_sec .product .product-title h4 a b:hover,
.rel_pro_sec .product .product-price2 ins:hover {
    color: #2250fc
}

.rel_pro_sec .product .product-price2 ins {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none
}

.fa-check-circle:before {
    content: "\f058"
}

.cus_rev_sec small i.fa-check-circle,
.cus_rev_sec .star_div i {
    font-size: unset;
    margin-bottom: unset
}

.cus_rev_sec small i.fa-check-circle {
    color: green
}

.cus_rev_sec .star_div i {
    color: #ffc300;
    padding-right: 3.5px
}

.zero_late_fee img {
    cursor: pointer
}

.lazy-youtube.lazy_youtube_banner img {
    top: 0
}

@media(min-width:768px) {

    .c_c_n_a_sec #index_comp_search_text,
    .c_c_n_a_sec #index_tm_search_text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .c_c_n_a_sec #index_go_btn,
    .c_c_n_a_sec #index_tm_go_btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        min-height: 40px
    }

    .gsc-control-cse {
        margin-right: 15px
    }

    .second_s_bar .col-lg-9.page_content h2 {
        font-size: 26px
    }
}

@media(max-width:767px) {

    #mainMenu nav>ul>li.dropdown:before,
    #mainMenu nav>ul>li.mega-menu-item>.dropdown-menu {
        display: none !important
    }

    .second_s_bar .col-lg-9.page_content h2 {
        font-size: 20px
    }

    .second_s_bar .col-lg-9.page_content h3 {
        font-weight: 500
    }
}

.second_s_bar .col-lg-9.page_content p {
    text-align: justify
}

@media(max-width:380px) {
    #topbar img {
        max-width: 55px
    }
}

.second_s_bar .col-lg-9.page_content strong {
    color: #1f1f1f
}

.list-icon.list-icon-caret li:before {
    content: "\f0da";
    font-family: "font awesome 5 free"
}

.header-extras .p-dropdown .p-dropdown-content,
.header-extras .p-dropdown ul.p-dropdown-content {
    right: -5px
}

.social-icons.social-icons-colored .social-whatsapp a,
.social-icons.social-icons-colored-hover .social-whatsapp a:hover {
    background-color: #25d366
}

.social-whatsapp .fa-whatsapp {
    font-weight: 700
}

.fa-whatsapp:before {
    content: "\f232"
}

.c_c_n_a_sec .form_group {
    display: flex
}

.c_c_n_a_sec #index_go_btn,
.c_c_n_a_sec #index_tm_go_btn {
    min-height: 40px
}

.trigger_faq .comments#comments .comment-list #qan .comment div {
    line-height: 1.7;
    color: #777;
    font-family: 'Comfortaa';
}

.last_update_con {
    display: none
}

#accordion-faq-web .accordion-btn.no-effect {
    font-size: 1em;
    line-height: 23px;
    text-align: initial;
    font-weight: 500;
    font-family: 'Comfortaa';
    color: #1f1f1f;
    margin: 0
}

#accordion-faq-web .collapse:not(.show) {
    display: block
}

#accordion-faq-web button {
    cursor: initial;
    background-color: transparent;
    border-width: 0;
    padding-left: 0;
    text-transform: none
}

.cus_rev_sec .card-body {
    max-height: 329px;
    overflow-y: scroll;
    min-height: 328px;
    height: auto
}

.cus_rev_sec ::-webkit-scrollbar {
    width: 5px
}

.cus_rev_sec ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

.cus_rev_sec ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, .3)
}